html, body{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: gray;
}

#container{
	height: 100%;
	padding-top: 30px;
	margin: 0 auto;
	background-color: green;
	width: 75%;
}

#main{
	width: 100%;
	font-size: 0;
}

.player{
	width: 18%;
	margin: 0 1%;
	display: inline-block;
}

.controls{
	position: relative;
}

.player button{
	background: transparent;
	border: none;
	position: absolute;
	width: 100%;
	height: 50%;
}

button:focus, button:active{
	outline: none;
	border: none;
}

button.scoreUp{
	top: 0;
}

button.scoreDown{
	bottom: 0;
}

.player img{
	width: 100%;
}

.player h2{
	font-size: 32px;
	margin: 0;
	text-align: center;
}

.player h3{
	font-size: 18px;
	margin: 0 0 6px 0;
	text-align: center;
}